*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.container{
    width: 80vmin;
    border: 1px solid white;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 120px;
    background-color: #ffffff;
    
}
h3{
    background-color: white;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 10px;
}
.tab-content{
    background-color: #ffffff;
    padding: 50px 40px;
    h4{
        font-size: 28px;
        margin-bottom: 20px;
        color: #000224;
        font-weight: 600;
    }
    p{
        text-align: justify;
        line-height: 1.9;
        letter-spacing: 0.4px;
        color: #202238;
    }
    div{
        display: none;
    }
    
}
