


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    background-color: gray;
    height: 100vh;
}

.col-5{
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 70px auto;
    border-radius: 10px;
    text-align: justify;
    background-image: url(../image/stock-photo-beautiful-tropical-beach-sea-ocean.webp);
}
.col-12{
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h4{
        color:white;
        padding: 20px 22px;
        
    }
}
.container-inputs{
    padding: 15px 25px;
    position: relative;
    .first{
        position: absolute;
        right: 60px;
        top: 45px;
        color: green;
    
    }
    .second{
        position: absolute;
        right: 60px;
        top: 121px;
        color: green;
    }
    .third{
        position: absolute;
        right: 60px;
        top: 197px;
        color: green;
    }
    .fourth{
        position: absolute;
        right: 60px;
        top: 273px;
        color: green;
    }
}

label{
    color: white;
}
input{
    width: 250px;
}
span{
    color:red;
    font-size: 14px;
}
.correctSpan{
    opacity: 0;
}
.errorSpan{
    opacity: 1 !important;
}

